<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.lsw.app.account.AccountDAO">

<!-- 	<select id="list" parameterType="AccountDTO" resultType="AccountDTO">
		SELECT BANK_ID, MEMBER_ID, ITEM_ID, OPEN_DATE, BALANCE FROM BANK WHERE MEMBER_ID = #{member_id}
	</select> -->
	
	<insert id="add" parameterType="AccountDTO">
		INSERT INTO BANK (BANK_ID, MEMBER_ID, ITEM_ID, OPEN_DATE, BANK_PW, BALANCE)
		VALUES(#{bank_id}, #{member_id}, #{item_id}, SYSDATE, #{bank_pw}, 0)
	</insert>
	
	<select id="detail" parameterType="AccountDTO" resultMap="detailResult">
		SELECT B.*, I.*
		FROM BANK B
	 	INNER JOIN
	 	ITEMS I
	 	ON B.ITEM_ID = I.ITEM_ID 
		WHERE B.BANK_ID = #{bank_id}
	</select>
	
	<resultMap type="AccountDTO" id="detailResult">
		<id column="BANK_ID" property="bank_id"/>
		<result column="ITEM_ID" property="item_id"/>
		<result column="OPEN_DATE" property="open_date"/>
		<result column="BALANCE" property="balance"/>
		<!-- 1:1 -->
		<association property="productDTO" javaType="ProductDTO">
			<result column="ITEM_NAME" property="item_name"/>
			<result column="ITEM_RATE" property="item_rate"/>
		</association>
	</resultMap>
	
	
	<update id="transfer" parameterType="TradeDTO">
		UPDATE BANK B
		SET BALANCE=BALANCE+
		CASE 
			WHEN BANK_ID=#{bank_id} THEN -#{difference}
			WHEN BANK_ID=#{account_u} THEN #{difference}
			ELSE 0
		END
		WHERE BANK_ID IN(#{bank_id}, #{account_u})
	</update>
	
	<insert id="transferList" parameterType="TradeDTO">
		INSERT INTO BANK_INFOS
		VALUES (#{bank_id}, SYSDATE,
		(SELECT BALANCE FROM BANK WHERE BANK_ID = #{bank_id}), -#{difference}, #{account_u})
	</insert>
	
	<insert id="transferList_u" parameterType="TradeDTO">
		INSERT INTO BANK_INFOS
		VALUES (#{account_u}, SYSDATE,
		(SELECT BALANCE FROM BANK WHERE BANK_ID = #{account_u}), #{difference}, #{bank_id})
	</insert>
	
	<select id="bankingList" parameterType="TradeDTO" resultType="TradeDTO">
		SELECT TIMEPOINT, ACCOUNT_U, DIFFERENCE, BAL_RESULT
		FROM BANK_INFOS
		WHERE BANK_ID = #{bank_id}
			<choose>
				<when test="io==0">
					AND
					DIFFERENCE>0
				</when>
  				<when test="io==1">
	  				AND
	  				0>DIFFERENCE
  				</when>
  			</choose>
		ORDER BY TIMEPOINT
		<choose>
			<when test="order == 1">
				ASC
			</when>
			<otherwise>
				DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="getPW" parameterType="AccountDTO" resultType="java.lang.String">
		SELECT BANK_PW
		FROM BANK
		WHERE BANK_ID = #{bank_id}
	</select>
	
	
	

</mapper>