<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsw.app.product.ProductDAO">

	<select id="getList" parameterType="Pager" resultType="ProductDTO"> <!-- mybatis-config에서 com.lsw.app.product.ProductDTO의 별칭을 ProductDTO 설정했음 -->
  		SELECT * FROM
			(SELECT ROWNUM R, B.* FROM
					(SELECT * FROM ITEMS
						<where>
							ITEM_ID > 0
							
							<choose>
								<when test="kind=='k2'">
									AND ITEM_DETAIL LIKE '%'||#{search}||'%'
								</when>
								<otherwise>
									AND ITEM_NAME LIKE '%'||#{search}||'%'
								</otherwise>
							</choose>
							
						</where>
						ORDER BY ITEM_ID DESC
					)B
			)
		WHERE R BETWEEN #{startRow} AND #{lastRow} 
  		<![CDATA[ ]]>
	</select>

	<select id="getDetail" resultType="ProductDTO" parameterType="ProductDTO">
		SELECT * FROM ITEMS WHERE ITEM_ID = #{item_id}
	</select>

	<insert id="add" parameterType="ProductDTO">
		INSERT INTO ITEMS
		VALUES(ITEM_ID_SEQ.NEXTVAL, #{item_name}, #{item_detail},
		#{item_rate})
	</insert>

	<delete id="delete" parameterType="ProductDTO">
		DELETE ITEMS WHERE ITEM_ID=
		#{item_id}
	</delete>

	<update id="update" parameterType="ProductDTO">
		UPDATE ITEMS SET
		ITEM_ID=#{item_id}, ITEM_NAME=#{item_name},
		ITEM_DETAIL=#{item_detail}, ITEM_RATE=#{item_rate} WHERE
		ITEM_ID=#{item_id}
	</update>
	
	<select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long">
		SELECT COUNT(ROWNUM) FROM ITEMS
			<where>
				ROWNUM > 0
							
				<choose>
					<when test="kind=='k2'">
						AND ITEM_DETAIL LIKE '%'||#{search}||'%'
					</when>
					<otherwise>
						AND ITEM_NAME LIKE '%'||#{search}||'%'
					</otherwise>
				</choose>	
			</where>
	</select>
	
	
	
	
</mapper>